body{
    font-family: 'Roboto', sans-serif;
}
.list-style-none{
    list-style: none;
}
.text-decoration-none{
    text-decoration: none;
}
/*           navbar       */
nav ul a{
    font-size: 1rem;
    position: relative;
}
.logo{
    font-size: 1.875rem;
}
.icon-img{
    width: 50px;
}
.inp-find{
    padding-right: 135px;
}
nav ul a::before{
    content: '';
    position: absolute;
    bottom: -10%;
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: width .2s;
}
nav ul a:hover::before{
    transition: width .2s;
    width: 100%;
}
.navList-active::before{
    width: 100%;
}
/*           Home             */
.inp-find{
    background-color: transparent !important;
}
.btn-custom{
    --bs-btn-color: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-border-color: #fff;
}
.Home{
    background-image: url(../imgs/pexels-pixabay-53594.jpg);
    background-position: center;
    background-size: cover;
}
.Home::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.595);
}
/*               srv         */
.Services{
    background-color: #1E202B;
}
.services-card{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #262936;
}
/*          media        */
@media(max-width:992px){
    .list-nav{
        position: fixed;
        inset: 0;
        width: 0px !important;
        transition: width .4s;
        background-color: #1E202B !important;
    }
    .list-nav-open{
        width: 100% !important;
        transition: width .4s;
    }
    .head-navlist{
        border-bottom: 2px solid rgba(0, 0, 0, 0.434);
    }
}